
.text-small {
    font-size: 12px;
    line-height: 16px;
  }
  .user {
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    display: flex;
    margin-right: 10px;
  }
  img {
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: auto auto;
  }
  .header {
    position: fixed;
    background-color: #4267b2;
    height: 42px;
    width: 100%;
    top: 0px;
  }
  .header-container {
    display: grid;
    width: 1011px;
    height: 41px;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
    align-self: center;
    align-items: center;
    margin: auto auto;
  }
  .logo {
    display: block;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
    margin-right: 6px;
  }
  form {
    width: 655px;
    display: flex;
    align-content: center;
  }
  form .button {
    height: 15px;
    width: 15px;
    margin: auto 0;
  }
  input[type="text"] {
    width: 80%;
    height: 18px;
    margin-right: 10px;
    padding-left: 5px;
    size: 14px;
  }
  .left,
  .right {
    display: flex;
    align-content: center;
  }
  .header-buttons {
    color: white;
    text-decoration: none;
  }
  .userAndHome {
    display: flex;
    align-items: center;
    height: 24px;
    width: 200px;
    margin-right: 20px;
  }
  .userAndHome .user,
  .userAndHome .home {
    display: flex;
    align-items: center;
    border-right: solid 1px #555;
    height: 16px;
    padding: 0 10px 0 10px;
  }
  .userAndHome .user img,
  .userAndHome .home img {
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  .userAndHome .user:hover,
  .userAndHome .home:hover {
    background-color: rgba(128, 128, 128, 0.5);
    height: 28px;
  }
  .icons-left {
    display: flex;
    justify-items: center;
    border-right: solid 1px #555;
    margin-right: 5px;
  }
  .icons-right {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-self: flex-end;
  }
  .header-icons {
    width: 24px;
    height: 24px;
    display: flex;
    opacity: 0.6;
    margin: auto 1px;
  }
  .friends-request {
    background-position: 0 -467px;
  }
  .Messages {
    background-position: 0 -717px;
  }
  .notifications {
    background-position: 0 -617px;
  }
  .help {
    background-position: 0 -1174px;
    height: 20px;
  }
  .user-pages {
    height: 20px;
    background-position: 0 -1313px;
  }
  .nav-bar {
    height: 100%;
  }
  .nav-bar .nav-bar-container {
    position: fixed;
    width: 185px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    display: flex;
    align-items: center;
    color: #1d2129;
    font-family: "Roboto", sans-serif;
    height: 26px;
    width: 100%;
    padding-left: 5px;
    border: solid 1px #e9ebee;
  }
  ul :hover {
    background-color: #f6f7f9;
    border: solid 1px #e0e0e0;
  }
  .icons {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
  }
  .news-feed {
    background-position: 0 -1485px;
  }
  .Messages {
    background-position: 0 -1044px;
  }
  .Marketplace {
    background-position: 0 -1443px;
  }
  .Photos {
    background-position: 0 -1674px;
  }
  .Browse {
    background-position: 0 -1611px;
  }
  .nav-section span.title {
    font-weight: bold;
  }
  .main article {
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .main article.user-status {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .main article.user-status .nav {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 5px 0px 5px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    border-radius: 5px 5px 0 0;
  }
  .main article.user-status .nav .icon {
    margin: 0 2px 0 10px;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .main article.user-status .nav .icon.make-post {
    background-position: 0 -338px;
  }
  .main article.user-status .nav .icon.make-photo {
    background-position: 0 -355px;
  }
  .main article.user-status .nav .icon.make-live {
    background-position: 0 -304px;
  }
  .main article.user-status .nav span {
    font-weight: 400;
    padding: 0 10px 0 0;
    border-right: 1px solid #dddfe2;
  }
  .main article.user-status .nav span .blue {
    color: #4267b2;
  }
  .main article.user-status .user-post {
    width: 478px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 44px 424px;
    margin: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddfe2;
  }
  .main article.user-status .user-post img {
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    width: 44px;
    height: 44px;
  }
  .main article.user-status .user-post .type {
    margin: auto 0;
    border: none;
    resize: none;
    width: 415px;
  }
  .main article.user-status .attach-files {
    padding: 10px;
    margin: auto auto;
  }
  .main article.user-status .attach-files a {
    display: inline-flex;
    align-items: center;
    background-color: #f6f7f9;
    border-radius: 50px;
    padding: 0 10px;
    text-decoration: none;
    color: #616770;
    font-weight: 400;
    height: 30px;
  }
  .main article.user-status .attach-files a .icons {
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .main article.user-status .attach-files a .icons.photo {
    background-position: 0 -519px;
  }
  .main article.user-status .attach-files a .icons.emoji {
    background-position: 0 -288px;
  }
  .main article.user-status .attach-files a .icons.more {
    background-position: 0 -1002px;
  }
  .main article.post-content .post-top {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 44px max-content;
    margin: 10px;
  }
  .main article.post-content .post-top .user-img img {
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    width: 44px;
    height: 44px;
  }
  .main article.post-content .post-top .info {
    margin: auto 0;
  }
  .main article.post-content .post-top .info .postting-name {
    font-size: 14px;
    font-weight: 600;
    color: #365899;
  }
  .main article.post-content .post-top .info .time {
    font-size: 12px;
  }
  .main article.post-content .post-text {
    margin: 10px;
    direction: rtl;
  }
  .main article.post-content .post-media img {
    width: 100%;
    height: 100%;
  }
  .main article.post-content .post-react-buttons {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    color: #616770;
    border-bottom: 1px solid #dddfe2;
  }
  .main article.post-content .post-react-buttons .react-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 155px;
  }
  .main article.post-content .post-react-buttons .react-button .icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
  }
  .main article.post-content .post-react-buttons .react-button.like .icon {
    background-position: -19px -174px;
  }
  .main article.post-content .post-react-buttons .react-button.comment .icon {
    background-position: 0px -155px;
  }
  .main article.post-content .post-react-buttons .react-button.share .icon {
    background-position: -19px -269px;
  }
  .main article.post-content .post-friends-comments {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 44px max-content;
    margin: 10px;
  }
  .main article.post-content .post-friends-comments .user-img img {
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50px;
    width: 44px;
    height: 44px;
  }
  .main article.post-content .post-friends-comments .info {
    margin: auto 0;
  }
  .main article.post-content .post-friends-comments .info .postting-name {
    font-size: 14px;
    font-weight: 600;
    color: #365899;
  }
  .main article.post-content .post-friends-comments .info .time {
    font-size: 12px;
  }
  .main article.post-content .post-friends-comments .info {
    background-color: #eff1f3;
    border-radius: 18px;
    padding: 8px 10px;
    max-width: 390px;
  }
  .section {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 5px;
  }
  .new-story {
    display: flex;
    align-items: center;
    margin: 0;
    width: 284px;
  }
  .new-story .user {
    border: solid #4267b2 1px;
  }
  .story-preview .user-title {
    color: #4267b2;
  }
  .story-preview span {
    display: block;
  }
  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 185px 500px 310px;
    width: 1011px;
    min-height: 100%;
    margin: 70px auto 0 auto;
  }
  .nav-bar {
    grid-column: 1/2;
    height: 100%;
  }
  .side-bar {
    grid-column: 3/4;
  }
  .main {
    width: 500px;
  }
  body {
    font-family: "Roboto", sans-serif;
    background-color: #e9ebee;
    font-size: 13px;
  }
  