<html>
<body>
<div class="main">
    <article class="user-status">
      <div class="nav">
        <div class="icon make-post"></div><span>Make post</span>
        <div class="icon make-photo"></div><span class="blue">Photo/video Album</span>
        <div class="icon make-live"></div><span class="blue">Live video</span>
      </div>
      <div class="user-post">
        /*<div class="user-img"><img src="E:\COE\task\src\bg.png"></div>*/
        <div class="text-area-container">
          <textarea class="type" placeholder="What's on your mind?"></textarea>
          <button>Post</button>
        </div>
      </div>
      <div class="attach-files">
        <a href="">
          <div class="icons photo"></div>Photo/video
        </a>
        <a href="">
          <div class="icons emoji"></div>Feeling/Activity
        </a>
        <a href="">
          <div class="icons more"></div>
        </a>
      </div>
    </article>
</body>
</html>